# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.eggs/
.env
.venv
venv/
env/
fastapienv/
bootcampenv/
build/
dist/

# --- VS Code ---
.vscode/

# --- OS files ---
.DS_Store
Thumbs.db
