@import "tailwindcss";
@import "./animations.css";
@import "./textAnimations.css";

@plugin "daisyui";

@plugin "daisyui" {
  themes: dark --default --prefersdark, abyss;
}

@font-face {
  font-family: "Sci-Fi";
  src: url("../assets//fonts//sci-fi.ttf") format("truetype");
  font-weight: 400; /* adjust if your file is bold, etc. */
  font-style: normal;
  font-display: swap; /* prevents FOIT */
}

@font-face {
  font-family: "Space Power";
  src: url("../assets//fonts//space-power-demo..ttf") format("truetype");
  font-weight: 400; /* adjust if your file is bold, etc. */
  font-style: normal;
  font-display: swap; /* prevents FOIT */
}

@font-face {
  font-family: "Cyberpunk";
  src: url("../assets//fonts//cyberpunk.ttf") format("truetype");
  font-weight: 400; /* adjust if your file is bold, etc. */
  font-style: normal;
  font-display: swap; /* prevents FOIT */
}

@layer utilities {
  .trns {
    @apply transition-transform duration-300 ease-in-out
  }
  .zoom-in {
    @apply transition-transform duration-300 ease-in-out hover:scale-125;
  }
  .hover-bg {
    @apply transition-colors duration-200 ease-in;
  }
  .hover-basic {
    @apply transition-colors duration-200 ease-in;
  }
  .title-main {
    font-family: "Sci-Fi", ui-sans-serif, system-ui;
    @apply text-4xl md:text-6xl lg:text-8xl font-bold text-primary uppercase tracking-wide;
  }

  .title-section {
    font-family: "Sci-Fi", ui-sans-serif, system-ui;
    @apply text-2xl md:text-3xl lg:text-4xl font-semibold text-accent uppercase tracking-wider;
  }
}

.font-sci-fi {
  font-family: "Sci-Fi", sans-serif;
  letter-spacing: 0.7rem;
}

.font-cyberpunk {
  font-family: "Cyberpunk", sans-serif;
  letter-spacing: 0.7rem;
}

/* optional helper class */
.font-space {
  font-family: "Space Power", sans-serif;
  letter-spacing: 0.7rem;
}

body {
  background-image: url("/img/space-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional — gives a nice parallax feel */
  /* background-color: #000;  */
}

html,
body {
  min-width: 760px;
}
